@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KoelkastApp</h1>
    <p class="lead">Welkom in de applicatie waar je kan bij houden wat voor eten je in huis hebt(koelkast).</p>
    
</div>

